body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #2a2828;
    margin: 0;
    font-family: 'Arial', sans-serif;
    color: #ffffff;
}

.container {
    text-align: center;
}

.heading {
    font-size: 2.5em;
    margin-bottom: 20px;
    color: #ffffff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}

.calculator {
    border: 1px solid #333;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    background-color: #1e1e1e;
    width: 320px;
    margin: 0 auto;
}

.display {
    background-color: #333;
    color: #ffffff;
    text-align: right;
    padding: 20px;
    font-size: 2em;
    border-radius: 5px;
    margin-bottom: 10px;
    height: 50px;
    overflow: hidden;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.btn {
    padding: 20px;
    font-size: 1.5em;
    border: none;
    border-radius: 5px;
    background-color: #444;
    color: #ffffff;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #555;
}
#clear {
    background-color: #ff9500;
    color: #ffffff;
}
#equals {
    background-color: #ff9500;
    color: #ffffff;
}

#equals:hover {
    background-color: #e68a00;
}
